# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
/logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# IDE / Editor
.idea

# Mac OSX
.DS_Store
